{% extends "base.html" %}

{% block title %}Popular | Shop.co{% endblock %}

{% block content %}
<div class="container">
    <h2 class="page-title">Popular Products</h2>
    <div class="product-grid">
        {% for product in products %}
        <div class="product-card">
            <a href="{{ url_for('product_details', product_id=product.id) }}" class="product-card-link">
                <div class="product-image-wrapper">
                    <img src="{{ url_for('static', filename='images/' + product.image) }}" alt="{{ product.title }}" class="product-image">
                </div>
                <div class="product-info">
                    <div>
                        <h3 class="product-title">{{ product.title }}</h3>
                        <p class="product-price">${{ product.cost }}</p>
                    </div>
                    <object>
                        <a href="{{ url_for('add_to_cart', product_id=product.id) }}" class="btn btn-secondary btn-sm btn-block">Add to Cart</a>
                    </object>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
